/* styles/globals.css */
.scroll-hide-home-page {
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE/Edge */
  }
  
.scroll-hide-home-page::-webkit-scrollbar {
    display: none;                  /* Chrome/Safari */
}