  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: red; 
  }
   
  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: blue; 
    height: 5px;
  }
  
  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }